<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/List_header.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/add.css">
    <script src="http://code.jquery.com/jquery-latest.js"></script>

    <title>학생 추가/수정</title>
</head>
<body>
    <div class="wrap">
        <header>
            <div class="nav">
                <a href="#" class="logo"><h1><img src="/images/logo.png" alt="로고이미지"></h1></a>
                <ul class="nav_list">
                    <a><li>학생 정보</li></a>
                    <label> | </label>
                    <a><li>강좌 정보</li></a>
                    <label> | </label>
                    <a><li>로그아웃</li></a>
                </ul>
            </div>
        </header>
        <main>
            <div class="add_info_box">
                <h1>학생정보 등록</h1>
                <form id="insert_form">
                    <div>
                        <input id="stu_num" placeholder="학번 입력">
                    </div>
                    <div>
                        <input id="stu_grade" placeholder="학년 입력">
                    </div>
                    <div>
                        <input id="stu_department" placeholder="학과 입력">
                    </div>
                    <div>
                        <input id="stu_name" placeholder="이름 입력">
                    </div>
                    <div>
                        <input id="password" placeholder="비밀번호 입력">
                    </div>
                    <div>
                        <button onclick="addstu()" type="button" class="blue_btn" id="addStudent">등록하기</button>
                    </div>
                </form>
            </div>            
        </main>
        <footer>
            <p>Copyright 2022 DongEui University. All rights reserved.</p>
        </footer>
    </div>
    <script type="text/javascript" src="/js/addStudent.js"></script>
</body>
</html>